.header {
  background-color: white;
  padding: 1rem 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2947A9; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar__link--highlight {
  color: #F9995D; 
}